<div class="box position-relative overflow-hidden  p-4 p-md-4  text-center bg-light">
    <img src="../assets/image/Restaurant.jpg" style="width: 95%; height: 500px;" alt="Flying Kites">
      <div class="text col-md-5 p-lg-3 mx-auto my-1">
        <h1 class="display-4 font-weight-normal a">Punny headline</h1>
        <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
        <div class="form-group">
          <div class="row">
               <div class=" col-md-5 p-lg-3 mx-auto my-1">
                    <select class="form-control" [(ngModel)]="selectedCity" (change)="selectChanged($event.target.value)">
                         <option *ngFor="let city of cityList;"
                          value="{{ city }}"
                           >{{ city }}</option>
                       </select>
               </div>
          </div>
     </div>

      </div>
  </div> 
  
    <div class="row">
           <div *ngFor='let restaurant of restaurants | paginate: {itemsPerPage: 6, currentPage: p};' class="col-md-2 p-1" style="width: 40%;">
                <app-restaurant-card [extRestaurant]="restaurant"></app-restaurant-card>  
           </div>

          
</div>

<div class="row mt-1">
     <div class="col-md-12 d-flex justify-content-center custom-pagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
   </div>

